{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
{% block content %}
<body>
<div class="container">
<h1>Login</h1>
<form method="post" action="{{ url_for('login') }}">
    <label><b>Username:</b></label>
    <input class="form-control" type="text" name="username">
    <br>
    <label><b>Password:</b></label>
    <input class="form-control" type="password" name="password">
    <br>
    <button class="btn btn-info" type="submit">Submit</button>
</form>
</div>
</body>
{% endblock %}
</html>