<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
{#    <style>#}
{#        .msgs {#}
{#            color: red;#}
{#        }#}
{#    </style>#}

        <title>{{ room.headers.name }}</title>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Flamos</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="#">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{ url_for('create_room') }}">Create Room</a>
                  {% if is_admin %}
                <a class="nav-item nav-link" href="{{ url_for('edit_room', room_id=room._id) }}">Edit Room</a>
                <a class="nav-item nav-link" href="{{ url_for('delete_room', room_id=room._id) }}" onclick="return window.confirm('Are you sure you want to delete this room?')">Delete Room</a>
                   {% endif %}
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('signup') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
<body>
{% if message %}
    <h3>{{ message }}</h3>
{% endif %}


<div class="container">
    <h1>Welcome to chat room: {{ room.headers.name }}</h1>
    <div id="messages"  style="margin-bottom: 10px; overflow: auto; display: flex; flex-direction: column; justify-content: end; height: 400px">
    {% for message in messages %}
      <div class="msgs" style="width: 100%; position: relative; border: 1px solid black; margin: 2px 0; background: #0a613d; border-radius: 25px;">
          <p style="color: yellow; font-size: 17px; margin: 0; padding-left: 20px;"><b>{{ message.sender }}</b></p>
        <p style="display: inline-block; width: 300px; word-break: break-all; padding-left: 20px; color: #dddddd">{{ message.text }}</p>
        <span style="color: white; font-size: 10px; position: absolute; bottom: 7px; right: 17px;">{{ message.created_at }}</span>
      </div>

    {% endfor %}
</div>

{#here starts the form for message input.#}
<div class="container-fluid" style="padding-bottom: 5px; bottom: 10px;">
<div id="message_input_div" style="width: 600px;">
<div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn" style="width: 150px; float: left">
<button id="load_older_messages_btn" class="btn btn-info" style="font-size:12px">Load Older<br> Messages <i class="fa fa-refresh"></i></button>
</div>
<form id="message_input_form">
<div class="col-md-18 col-sm-8 col-9 pr-0 comment-box" style="width: 350px; float: left">
<input type="text" id="message_input" class="form-control" placeholder="Your message here" />
</div>
<div class="col-md-2 col-sm-3 col-2 pl-0 text-center send-btn" style="width: 100px; float: left">
<button type="submit" class="btn btn-success">Send</button>
</div>
</form>
</div>
</div>

</div>

</body>
 </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Room Members</h3>
            <p class='text-muted'>Here's everyone your gang: &#129305;&#127995;
              <ul class="list-group">
              {% for member in room_members %}
                <li class="list-group-item list-group-item-light">{{ member._id.username }}</li>
              {% endfor %}
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function () {
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        });

        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{ room._id }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });

    let page = 0;

    document.getElementById("load_older_messages_btn").onclick = (e) => {
        page += 1;
        fetch("/rooms/{{ room._id }}/messages?page=" + page, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(messages => {
                messages.reverse().forEach(message => prepend_message(message.text, message.sender, message.created_at));
            })
        })
    };

    function prepend_message(message, username, created_at) {
        const newNode = document.createElement('div');
        newNode.classList.add('msgs');
        newNode.innerHTML = `<div class="msgs" style="width: 100%; position: relative; border: 1px solid black; margin: 2px 0; background: #0a613d; border-radius: 25px;">
            <p style="color: yellow; font-size: 17px; margin: 0; padding-left: 20px;"><b>${username}</b></p>
            <p style="display: inline-block; width: 300px; word-break: break-all; padding-left: 20px; color: #dddddd">${message}</p>
            <span style="color: white; font-size: 10px; position: absolute; bottom: 7px; right: 17px;">${created_at}</span>
            </div>`;
        const messages_div = document.getElementById('messages');
        messages_div.insertBefore(newNode, messages_div.firstChild);
    }

    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        })
    };

    socket.on('receive_message', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.id = 'newMsg';
        newNode.classList.add('msgs')
        newNode.tabIndex = -1;
        newNode.innerHTML = `<div class="msgs" style="width: 100%; position: relative; border: 1px solid black; margin: 2px 0; background: #0a613d; border-radius: 25px;">
            <p style="color: yellow; font-size: 17px; margin: 0; padding-left: 20px;"><b>${data.username}</b></p>
            <p style="display: inline-block; width: 300px; word-break: break-all; padding-left: 20px; color: #dddddd">${data.message}</p>
            <span style="color: white; font-size: 10px; position: absolute; bottom: 7px; right: 17px;">${data.created_at}</span>
            </div>`;
        document.getElementById('messages').appendChild(newNode);
        document.getElementById('newMsg').focus();
        newNode.removeAttribute('id');
        document.getElementById('message_input').focus();
    });

    socket.on('join_room_announcement', function (data) {
        console.log(data);
        if (data.username !== "{{ username }}") {
            const newNode = document.createElement('div');
            newNode.innerHTML = `<center><b>${data.username}</b> has joined the room</center>`;
            document.getElementById('messages').appendChild(newNode);
        }
    });

    socket.on('leave_room_announcement', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<center><b>${data.username}</b> has left the room<center>`;
        document.getElementById('messages').appendChild(newNode);
    });

</script>
</html>